/Users/OAA/PycharmProjects/Mask_RCNN/TF1/kangaroo_cfg20210322T2355
/Users/OAA/PycharmProjects/Mask_RCNN/TF1/kangaroo_cfg20210323T2326
/Users/OAA/PycharmProjects/Mask_RCNN/TF1/kangaroo_cfg20210323T2342
/Users/OAA/PycharmProjects/Mask_RCNN/TF1/kangaroo_cfg20210323T2343
/Users/OAA/PycharmProjects/Mask_RCNN/TF1/mask_rcnn_coco.h5
/Users/OAA/PycharmProjects/Mask_RCNN/TF1/mask_rcnn_kangaroo_cfg_0005.h5
/Users/OAA/PycharmProjects/venv-3.8
/Users/OAA/PycharmProjects/TF1
/Users/OAA/PycharmProjects/Mask_RCNN_TF2
/Users/OAA/PycharmProjects/venv-apple

